{% load static %}

<html>
<head>
  <!-- META DATA -->
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home</title>

	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}"  type="text/css">

	<!-- Owl Carousel Assets -->
    <link href="{% static 'blog/css/owl.carousel.css' %}" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

	<!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.css' %}"  type="text/css">
	<!---<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>--->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'blog/js/html5shiv.js' %}"></script>
        <script src="{% static 'blog/js/respond.min.js' %}"></script>
    <![endif]-->

</head>

 <body class="index-page">

	<!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/blog">FREEDOM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					<li>
                        <a class="page-scroll" href="/index">Home</a>
                    </li>
					<li>
                        <a class="page-scroll" href="/blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/admin">System</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<!-- Navigation -->


	<!-- CAROUSEL -->
    {% block carousel %}
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-interval="4000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'blog/images/banner1.jpg' %}" alt="...">
                    <!-- Static Header -->
                    <div class="container">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h1>任何值得做的，就把它做好</h1>
                                <hr>
                                <p>朝花暮日，风景依旧，春去秋来，物是人非，似水流年，浮生若梦。一天天，一年年，岁月像风一样，在我们的指尖不经意间就过去了。</p>
                                <a href="" class="btn btn-primary btn-xl page-scroll">开始旅行</a>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'blog/images/banner2.jpg' %}" alt="...">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h1>幸福是太多和太少之间的一站</h1>
                            <hr>
                            <p>
                                轻轻飘向有你的地方。我不曾遗忘，那些美好的瞬间，亦不曾忘记，蓝天下的幻想，你的笑。假如不曾错过，我就不会徜徉在这孤独的夜里，想念那些绚烂的场景，也不会跌跌撞撞地走着人生。放手后，总是落落寡欢，会莫名地为了一首歌、一部戏、甚或是一句话而泪流满面。</p>
                            <a href="" class="btn btn-primary btn-xl page-scroll">开始旅行</a>
                        </div>
                    </div><!-- /header-text -->
                </div>

            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- Carousel -->
    {% endblock %}

	<header class="container">
		<div class="site-branding">
			<h1 class="site-title">
				<a href="index.html">
					<span>一路走来</span>
				</a>
			</h1>
			<h2 class="site-description">未来的风景更精彩</h2>
		</div>
		<div class="social-links">
			<ul class="list-inline">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
				<li><a href="#"><i class="fa fa-rss"></i></a></li>
			</ul>
		</div>
	</header>

	<!-- /////////////////////////////////////////Content -->
    {% block page_content %}
        <div id="page-content">

            <!-- ////////////Content Box 01 -->
            <section class="box-content box-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            {% block container_left %}{% endblock %}
                        </div>
                        <div class="col-md-4">
                            {% block container_mid %}{% endblock %}
                        </div>
                        <div class="col-md-4">
                            {% block container_right %}{% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}
    <!-- MODAL -->
    {% block modal %}{% endblock %}

	<!-- FOOTER -->
	<footer>
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright &copy; 2018.Goxp49 All rights reserved.</p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script type="text/javascript" src="{% static 'blog/js/jquery-2.1.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="{% static 'blog/js/agency.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'blog/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'blog/js/classie.js' %}"></script>
	<script src="{% static 'blog/js/cbpAnimatedHeader.js' %}"></script>

    <!-- User JavaScript -->
    {% block java_script %}{% endblock %}

</body>
</html>