{% extends "blog/__base__.html" %}
{% load static %}

{% block container_left %}
    {% for article1 in articles_all.articles_left %}
        <div class="box-item article_body">
            <img src="{{ MEDIA_URL }}{{ article1.cover }}" class="img-responsive"/>
            <div class="content">
                <h3>{{ article1.title }}</h3>
                <p>{{ article1.describe }}</p>
                <a href="{% url 'blog:single' article1.url %}">阅读全文</a>
                <br><br>
                <span>{{ article1.date }}</span><br>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block container_mid %}
    {% for article2 in articles_all.articles_mid %}
        <div class="box-item article_body">
            <img src=" {{ MEDIA_URL }}{{ article2.cover }}" class="img-responsive"/>
            <div class="content">
                <h3>{{ article2.title }}</h3>
                <p>{{ article2.describe }}</p>
                <a href="{% url 'blog:single' article2.url %}">阅读全文</a>
                <br><br>
                <span>{{ article2.date }}</span><br>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block container_right %}
{% for article3 in articles_all.articles_right %}
        <div class="box-item article_body">
            <img src="{{ MEDIA_URL }}{{ article3.cover }}" class="img-responsive"/>
            <div class="content">
                <h3>{{ article3.title }}</h3>
                <p>{{ article3.describe }}</p>
                <a href="{% url 'blog:single' article3.url %}">阅读全文</a>
                <br><br>
                <span>{{ article3.date }}</span><br>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block modal %}
    <div id="img-modal" class="modal fade">
        <div id="img-dialog" class="modal-dialog" style="width: 98%; height: 98%;text-align: center;">
            <div id="img-content" class="modal-content">
                <img id="img-zoom" src="" style="max-height: 100%; max-width: 100%;margin:10px;">
            </div>
        </div>
    </div>
{% endblock %}

{% block java_script %}
    <script type="text/javascript">
        $(function () {

            //点击图片放大
            $("#img-zoom").click(function () {
                $('#img-modal').modal("hide");
            });
            $("#img-dialog").click(function () {
                $('#img-modal').modal("hide");
            });
            //index-list-content为显示文章内容div的class(包含有image的大类)
            $(".article_body img").each(function (i) {
                let src = $(this).attr("src");
                $(this).click(function () {
                    $("#img-zoom").attr("src", src);
                    let oImg = $(this);
                    let img = new Image();
                    img.src = $(oImg).attr("src");
                    let realWidth = img.width;//真实的宽度
                    let realHeight = img.height;//真实的高度
                    let ww = $(window).width();//当前浏览器可视宽度
                    let hh = $(window).height();//当前浏览器可视宽度
                    $("#img-content").css({"top": 0, "left": 0, "height": "auto"});
                    $("#img-zoom").css({"height": "auto"});
                    if ((realWidth + 20) > ww) {
                        $("#img-content").css({"width": "100%"});
                        $("#img-zoom").css({"width": "99%"});
                    } else {
                        $("#img-content").css({"width": realWidth + 20, "height": realHeight + 20});
                        $("#img-zoom").css({"width": realWidth, "height": realHeight});
                    }
                    if ((hh - realHeight - 40) > 0) {
                        $("#img-content").css({"top": (hh - realHeight - 40) / 2});
                    }
                    if ((ww - realWidth - 20) > 0) {
                        $("#img-content").css({"left": (ww - realWidth - 20) / 2});
                    }
                    //console.log("realWidth:"+realWidth+" realHeight:"+realHeight+" ww:"+ww)
                    $('#img-modal').modal();
                });
            });
        });
    </script>
{% endblock %}