{% extends "blog/__base__.html" %}
{% load static %}

{% block container_left %}
    {% for article1 in articles_all.articles_left %}
        <div class="box-item">
            <img src="{% static  article1.cover  %}" class="img-responsive"/>
            <div class="content">
                <h3>{{ article1.title }}</h3>
                <p>{{ article1.describe }}</p>
                <a href="{{ article1.url }}">阅读全文</a>
                <br><br>
                <span>{{ article1.date }}</span><br>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block container_mid %}
    {% for article2 in articles_all.articles_mid %}
        <div class="box-item">
            <img src="{% static  article2.cover  %}" class="img-responsive"/>
            <div class="content">
                <h3>{{ article2.title }}</h3>
                <p>{{ article2.describe }}</p>
                <a href="{{ article2.url }}">阅读全文</a>
                <br><br>
                <span>{{ article2.date }}</span><br>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block container_right %}
{% for article3 in articles_all.articles_right %}
        <div class="box-item">
            <img src="{% static  article3.cover  %}" class="img-responsive"/>
            <div class="content">
                <h3>{{ article3.title }}</h3>
                <p>{{ article3.describe }}</p>
                <a href="{{ article3.url }}">阅读全文</a>
                <br><br>
                <span>{{ article3.date }}</span><br>
            </div>
        </div>
    {% endfor %}
{% endblock %}